<div class="todo-content">
    <h1 class="page-title">My Todos</h1>
    <div class="todo-create">
      <form #todoForm="ngForm" (ngSubmit) = "createTodo(todoForm)" novalidate>
    		<input type="text" id="title" class="form-control" placeholder="Type a todo and press enter..." 
    		       required
    		       name="title" [(ngModel)]="newTodo.title"
    		       #title="ngModel" >

    		<div *ngIf="title.errors && (title.dirty || title.touched)"
    		     class="alert alert-danger">
    		    <div [hidden]="!title.errors.required">
    		      Title is required.
    		    </div>
    		</div>
    	</form>
    </div>
    <ul class="todo-list">
      <li *ngFor="let todo of todos" [class.completed]= "todo.completed === true" >
        <a class="todo-completed" (click)="toggleCompleted(todo)">
        	<i class="material-icons toggle-completed-checkbox"></i> 
        </a> 
        <span class="todo-title">
        	{{todo.title}}
        </span>
        <span class="todo-actions">
            <a (click)="updateTodo(todo)">
            	<i class="material-icons edit">edit</i>
            </a>
            <a (click)="deleteTodo(todo.id)">
            	<i class="material-icons delete">clear</i>
            </a>
        </span>
      </li>
    </ul>
    <div class="no-todos" *ngIf="!todos">
        <p>Loading...</p>
    </div>
    <div class="no-todos" *ngIf="todos && todos.length == 0">
        <p>No Todos Found!</p>
    </div>
</div>